.BasicInfo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
  padding: 24px;
  border: 1px solid #1111111a;
  border-radius: 20px;
  gap: 24px;
  .specializations{
    li{
      list-style-type: none;
    }
  }
  .profile-branches-main{
    display: flex;
    flex-direction: column;
    gap: 1em;

    .pb-sub{
      span{
        color: #111111ab;
      }
    }
  }
  .institute-profile-timing-main{
    p{
      span{
        color: #111111c0;
      }
    }
  }
  .heading {
    border-bottom: 1px solid #1111111a;
    padding-bottom: 12px;
    h2{
     font-size: var(--fs-m);
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    .row {
      display: flex;
      justify-content: start;
      .col {
        width: 100%;
        display: flex;
        .info-field {
          width: 100%;
          font-weight: 700;
          p{
           font-size: var(--fs-sm);
          }
        }
        .address-labels, 
        .address-inputs{
          display: flex;
          flex-direction: column;
          gap: 1em;
          padding: 1.5em 0 1em 0; 
        }
        .info-value {
          width: 100%;
          font-size: var(--fs-sm);
          .gender-radio{
            display: flex;
            gap: 24px;
            .gender-text{
              display: flex;
              gap: 8px;
            }
          }
          input {
            z-index: 999;
            width: 100%;
            border-bottom: 1px solid #11111154;
          }
          .institute-timings-days{
            display: flex;
          }
          select{
            width: 50%;
            font-size: 0.9em;
            padding: 0.5em;
            border: 1px solid #00000060;
          }
          .input-info-small{
            font-size: 0.8em;
            color: #111111de;
          }
          textarea{
            width: 100%;
            height: 200px;
            resize: none;
            border: 1px solid #1111115d;
            padding: 1em;
          }
          p.short-desc-institute{
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
