.FacultyDetails-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f4ff;
  padding: 24px;
  border: 1px solid #1111111a;
  // border-radius: 20px;
  gap: 24px;
  overflow-y: auto;
  .heading {
    border-bottom: 1px solid #1111111a;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: var(--fs-m);
    }
    .addfaculty {
      background-color: #1f0a68;
      width: 140px;
      border-radius: 40px;
      color: #ffffff;
      font-size: 1em;
      padding: 0.1em 1.3em 0.1em 1.3em;
      border: 2px solid #1f0a68;

      &:hover {
        background-color: #f7f4ff;
        color: #1f0a68;
        transition: all 0.3s ease;
      }
    }
  }

  .profile-faculty-main {
    width: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 1em;
    row-gap: 0em;
    flex-wrap: wrap;
    row-gap: 1rem;
    // justify-content: flex-start;
    .profile-faculty-sub {
      width: 32%;
      height: 12rem;
      padding: 1em;
      display: flex;
      gap: 1em;
      // padding: 20px;

      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: rgba(50, 50, 93, 0.137) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
      .p-faculty-left {
        width: 50%;
        display: flex;

        .img {
          height: auto;
        }
        img {
          width: 100%;
          height: auto;
          border-radius: 13px;
        }
      }
      .p-faculty-right {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .info {
          .faculty-input {
            font-size: 1.3rem;
          }
          p {
            font-size: 1.2rem;
            color: #1111119c;
            span {
              font-weight: bold;
              color: #111111b0;
            }
          }
        }

        .faculty-buttons {
          display: flex;
          row-gap: 2rem;
          column-gap: 1rem;

          .buttons {
            background-color: #1f0a68;
            border-radius: 40px;
            color: #ffffff;
            font-size: 1em;
            padding: 0.1em 1.3em 0.1em 1.3em;
            border: 2px solid #1f0a68;

            &:hover {
              background-color: #f7f4ff;
              color: #1f0a68;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}
