.FacultyDetails-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f4ff;
  padding: 24px;
  border: 1px solid #1111111a;
  // border-radius: 20px;
  gap: 24px;
  overflow-y: auto;
  .heading {
    border-bottom: 1px solid #1111111a;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: var(--fs-m);
    }
    .addfaculty {
      width: 20%;
      height: 5vh;
      border-radius: 10px;
      background-color: #007bff; // Set background color
      color: #fff; // Set text color
      border: none; // Remove border
      cursor: pointer; // Change cursor to pointer
      transition: background-color 0.3s ease; // Smooth transition for background color

      &:hover {
        background-color: #0056b3; // Change background color on hover
      }
    }
  }

  .profile-faculty-main {
    width: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 1em;
    row-gap: 0em;
    flex-wrap: wrap;
    row-gap: 1rem;
    // justify-content: flex-start;
    .profile-faculty-sub {
      width: 32%;
      height: 12rem;
      padding: 1em;
      display: flex;
      gap: 1em;
      // padding: 20px;

      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: rgba(50, 50, 93, 0.137) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
      .p-faculty-left {
        width: 50%;
        display: flex;

        .img {
          height: auto;
        }
        img {
          width: 100%;
          height: auto;
          border-radius: 13px;
        }
      }
      .p-faculty-right {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .info {
          .faculty-input {
            font-size: 1.3rem;
          }
          p {
            font-size: 1.3rem;
            color: #1111119c;
            span {
              font-weight: bold;
              color: #111111b0;
            }
          }
        }

        .faculty-buttons {
          display: flex;
          row-gap: 2rem;
          column-gap: 1rem;

          .buttons {
            width: 80px;
            height: 40px;
            border-radius: 10px;
            background-color: rgba(64, 64, 230, 0.816);
          }
        }
      }
    }
  }
}
