div.MuiPickersPopper-root.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root.MuiPopper-root{
 z-index: 99999 !important;
}
.addcourse-container {
 width: 100%;
 height: 100vh;
 background-color: #00000079;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 z-index: 9999;
 backdrop-filter: blur(10px);



 .css-1anqmj6-MuiPopper-root-MuiPickersPopper-root{
  z-index: 99999 !important;
 }

 .course_section {
   .main-container {
     padding: 20px;
     border-radius: 10px;
     display: flex;
     background-color: #fff;
     .img_uploder {
       padding-right: 20px;
     }
     .course-data {
       height: auto;

       .right-Section {
         display: flex;
         justify-content: space-between;
         padding-top: 10px;
         padding-bottom: 10px;
         .course_details {
           padding-right: 20px;
         }
         .course_input {
          display: flex; 


       
         }
       
        }
        .btn button{
         display: flex;
         justify-content: center;
         align-items: center;
        color: white;
         width: 40%;
         border-radius: 200px;
         padding: 10px;
        }
     }
   }
 }
}
