@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  color: #333;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: flex-start;
  overflow-y: scroll;
  height: 100%;
  background-color: var(--primary-light);

  .card-parent {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    padding: 1em;
  }
}
